<!DOCTYPE html>
<html lang="en">
  
  <head></head>

  <style>
    body{}
    .topnav{
      overflow: hidden;
      background-color: #2d3246;
      transition: 0.3s;
      height: 7vh;
    }
    .button{
    	padding: 10px 15px;
  		text-align: center;
      display: inline-block;
    }
    .boxes{
    	width: 70%;
        height: 30px;
    }
    #dropdown{
    	  width: 70%;
        height: 30px;
    }
  </style>
  
  <body>
    <div class= "topnav">
      <h3 style= "color: white; margin: 5px;">Hello Moderator. Please make your edits to the question and/or category and save your changes.</h3>
    </div>
    <center>
    <form method="POST">
    <label for= "inputbox">Question text:</label><br>
    <input class=boxes type="textarea" name= "question_text" value="{{ old_text }}">
    <br><br>
    <label for= "dropdown">Category:</label>
    <select class= boxes name= "category">
        {% for category in categories %}
            <option value="{{ category[0] }}" {% if category[0]==old_category %} selected {% endif %}>
            {{ category[0] }}
            </option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input class= button type= "submit" value = "Save" name="save">
    <input class= button type = "submit" value= "Cancel" name= "cancel">
  	</form>
    </center>
  </body>
  
  
</html>

