<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

<div class="titlebar">
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
</div>

<div class="content">
<div class="block">
<form action="{{ survey_link }}">
  <input type="submit" class="button_submit button" value="Take the Survey"/>
</form>
<br>
<form action="{{ list_questions }}viewer">
  <input type="submit" class="button_submit button" value="View Questions (Viewer)"/>
</form>
<br>
<form action="{{ list_questions }}expert">
  <input type="submit" class="button_submit button" value="View Questions (Expert)"/>
</form>
<br>
<form action="{{ list_questions }}moderator">
  <input type="submit" class="button_submit button" value="View Questions (Moderator)"/>
</form>
</div>
</div>

</body>
</html>
