<!doctype html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

<div class="titlebar">
<form action="{{ back_url }}">
  alumni<b>overflow</b>
  <input type="submit" class="button_toolbar button" value="All Questions"/>
</form>
</div>

<div class="content">
<div class="block">
<h1>{{ question[3] }}</h1>
<i>in "{{ question[2] }}"</i>
<br>
{% if user == "moderator" %}
  <br>
  <form method="POST">
    <input type="submit" class="button" name="edit_question" value="edit" class="SubmitButton">
    {% if question[4] == True %}
      <input type="submit" class="button" name="unpublish_question" value="unpublish" class="SubmitButton">
    {% else %}
      <input type="submit" class="button" name="publish_question" value="publish" class="SubmitButton">
    {% endif %}
    <input type="submit" class="button" name="delete_question" value="delete" class="SubmitButton">
  </form>
{% endif %}
</div>
<br>

<h2>
{{ answers|length }} answer{% if answers|length != 1 %}s{% endif %}
</h2>

<ol>
  {% for answer in answers %}
  <div class="block">
  <li>
    <pre>{{ answer[4] }}</pre>
    <i>answered by {{ answer[1] }}</i><br>
    <i>on {{ answer[2] }}</i><br>
    {% if user == "moderator" %}
      <br>
      <form method="POST">
        <input type="submit" class="button" name="delete_answer" value="delete" class="SubmitButton">
        <input type="hidden" name="which_answer" value="{{ answer[0] }}">
      </form>
    {% endif %}
  </li>
  </div>
  <br>
  {% endfor %}
</ol>

{% if user == "expert" %}
  <form method="POST">
    <h2>Answer Question:</h2>
    <textarea name="answer_text" rows="14" cols="72">Enter your answer here...</textarea>
    <br>
    Email: <input type="text" name="email">
    <br><br>
    <input type="submit" class="button_submit button" class="SubmitButton">
  </form>
  <br>
{% endif %}
</div>

</body>
</html>
