<!DOCTYPE html>
<h1> 
Please provide us with the following information
</h1>

<form method="POST">
  First Name:<br>
  <input type="text" name="firstname" required><br>
  Last Name:<br>
  <input type="text" name="lastname" required><br>
  email:<br>
  <input type="text" name="email" required><br>
  date of birth:<br>
  <input type="date" name="dob" required><br>
  Institution:<br>
  <input type="text" name="institution" required><br>
  Year of graduation:<br>
  <input type="number" name="graddate" required><br>
  Your major(s):<br>
  <input type="text" name="majors" required><br>
  <input type="submit" class="SubmitButton">
</form>
