<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">


<script>
  function validateEmail(){
    alert("That email address has already been used. Please use a different one.")
  }
</script>

</head>

<body>

<div class="titlebar">
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
</div>

<div class="content">
<h1>Please provide us with the following information:</h1>

<form method="POST">
  <br>
  First Name<br>
  <input type="text" name="firstname" required><br><br>
  Last Name<br>
  <input type="text" name="lastname" required><br><br>
  Email<br>
  <input type="text" name="email" required><br><br>
  Date of Birth<br>
  <input type="date" name="dob" required><br><br>
  Institution<br>
  <input type="text" name="institution" required><br><br>
  Year of Graduation<br>
  <input type="number" step="1" min="1" max="2999" name="graddate" required><br><br>
  Your Major(s)<br>
  <input type="text" name="majors" required><br><br>
  <input type="submit" class="button_submit button">
</form>
</div>

<body>

{% if valid_email=="False" %}
    <script>
        validateEmail();
    </script>
{% endif %}
</html>
