<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>


<div class="titlebar">
  <a href="/")>
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
  </a>
</div>

  
<div class="content">
<h1> How do you think you will define success over your lifetime? Please check all boxes that fit your definition:</h5>

<form method="POST">
  <br>
    {% for category in categories %}
        <label><input type="checkbox" name='{{ category }}' value='true'>{{ category }}</label><br> <!--The addition of a "label" tag lets the user click on the label to interact with the box-->
    {% endfor %}
    <br>
    <input type="submit" class="button_submit button" value="Submit">
</form>
</div>

</body>
</html>
