<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

<div class="titlebar">
  <a href="/")>
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
  </a>
</div>


<div class="content">
<h1>For each of your selections, do you believe that you know all you need to know in order to achieve success in these items? Please select those which you do <b>NOT</b> know all that you need to:</h1>

<form method="POST">
  {% for category in top_categories %}
    <label><input type="checkbox" name='{{ category }}' value='true'>{{ category }}</label><br>
  {% endfor %}
  <br>
  <input type="submit" class="button_submit button">
</form>
</div>

</body>
</html>
