<!DOCTYPE html>

<h1>
    1. How do you think you will define success over your lifetime? Please check all boxes that fit your definition:
</h1>

<!-- The following table displays the "categories" from the "Appreciate U" survey -->

<form method="POST">
    <h3>Professional/Career</h3>
        {% for category in professional %}
            <input type="checkbox" name='{{ category }}' value='true'>{{ category }}<br>
        {% endfor %}
    <h3>Personal</h3>
        {% for category in personal %}
            <input type="checkbox" name='{{ category }}' value='true'>{{ category }}<br>
        {% endfor %}
    <input type="submit" value="Submit">
</form>
