<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

<a href="/")>
<div class="titlebar">
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
</div>
</a>

<div class="content">
<h1>For items in the last question for which you selected "No", please write down a question or two:</h1>

<form method="POST">
    {% for category in question_categories %}
        <div class="block">
        <h2>{{ category }}</h2>
        <textarea name='{{ category }}' rows="6" cols="46" placeholder="Please write a question about the above topic" wrap="soft"></textarea><br>
        </div>
    {% endfor %}
    <input type="submit" class="button_submit button">
</form>
</div>

</body>
</html>
