<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

<div class="titlebar">
  <img src="{{ url_for('static',filename='logo.svg') }}" alt="2468" style="width:101px;height:64px;">
</div>

<div class="content">
<h1>Of the boxes you checked just now, which ones are you most likely to focus on in the next 5 years? Please select between 1 to 4 of these items:</h1>

<form method="POST">
    <select name="1" onchange="removeSelected();">
        <option value="" selected hidden disabled>--1--</option>
        {% for category in selected_categories %}
            <option value='{{ category }}'>{{ category }}</option>
        {% endfor %}
    </select><br><br>

    <select name="2" onchange="removeSelected();">
        <option value="" selected hidden disabled>--2--</option>
        {% for category in selected_categories %}
            <option value='{{ category }}'>{{ category }}</option>
        {% endfor %}
    </select><br><br>

    <select name="3" onchange="removeSelected();">
        <option value="" selected hidden disabled>--3--</option>
        {% for category in selected_categories %}
            <option value='{{ category }}'>{{ category }}</option>
        {% endfor %}
    </select><br><br>

    <select name="4" onchange="removeSelected();">
        <option value="" selected hidden disabled>--4--</option>
        {% for category in selected_categories %}
            <option value='{{ category }}'>{{ category }}</option>
        {% endfor %}
    </select><br>
    <br>
    <input type="submit" class="button_submit button" value="Submit">
</form>
</div>

<script>
    // Removes an item in one select box from the other select boxes
    function removeSelected() {
        var box1 = document.getElementsByName("1")[0];
        var box2 = document.getElementsByName("2")[0];
        var box3 = document.getElementsByName("3")[0];
        var box4 = document.getElementsByName("4")[0];

        var id1 = box1.selectedIndex;
        var id2 = box2.selectedIndex;
        var id3 = box3.selectedIndex;
        var id4 = box4.selectedIndex;

        // All boxes and all values that have been selected
        var boxes = [box1,box2,box3,box4];
        var indices = [id1,id2,id3,id4];

        // remove all selected items
        for (var i = 0; i < boxes.length; i++){
            var box = boxes[i];
            var options = box.options;
            for (var j=0; j<options.length; j++){
                if (indices.includes(j)){
                    box[j].hidden = true;
                } else {
                    box[j].hidden = false;
                }
            }
        }
    }
    // Sets the "value" of a box to be the item currently selected
    function setValue(box) {
        var value = box.options[box.selectedIndex].value;
        box.value = value;
    }
</script>

</body>
