<!DOCTYPE html>
<h1>This is a temp html file</h1> <br>
<h2>This will be updated to the correct file when the team working on creating the skeleton html file have completed it.</h2> <br>
<h3>The following lines ensure that all of the correct values are being passed to the backend 'edit.py' file</h3>

{{ old_text }} <br>
{{ old_category }} <br>

{% for category in categories %}
    {{ category[0] }} <br>
{% endfor %}

<h3>The following lines are used to test that the data is being received by the "POST" method in edit.py</h3>
<form method="POST">
    <input name="question_text" value="Test Question Text Change">
    <input name="category" value="Traveling">
    <input type="submit" name="cancel" value="Cancel"> <input type="submit" name="save" value="Save">
</form>
