:root {
  --primary-color: #55BEBE;
  --text-color: #E8FFFF;
  --hover-color: #BBDADA;
}

body {
  font-family: arial;
  font-size: 16px;
  margin: 0;
}
pre {
  font-family: arial;
  font-size: 16px;
}
textarea {
  font-family: arial;
  font-size: 16px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
i {
  font-size: 12px;
}
ol {
  margin: 0px;
  padding-left: 0px;
}
.content {
  margin: 0px 12px;
}
.block {
  background: var(--text-color);
  padding: 10px 24px;
  margin: 12px 0px;
  border-radius: 8px;
}
.titlebar {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 28px;
  border: none;
  padding: 14px 24px;
  margin: 0px;
}
.button {
  background-color: var(--primary-color);;
  color: var(--text-color);
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: none;
}
.button:hover {
  color: var(--hover-color);
}
.button_submit {
  padding: 6px 10px;
  font-size: 14px;
}
.button_toolbar {
  font-size: 16px;
  margin: 24px 24px;
  position: absolute;
}
